.NavBar{
    padding: 20px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.NavBar .logo{
    width: 150px;
}

.NavBar-Menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.NavBar-Right{
    display:flex;
    align-items: center;
    gap: 40px;
}

.NavBar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.NavBar button:hover{
    background-color: #eea396;
}

.NavBar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.NavBar li{
    cursor: pointer;
}

.NavBar-SearchIcon{
    position: relative;
}

.NavBar-SearchIcon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    top: -8px;
    right: -8px;
    border-radius: 50%;
}

@media (max-width: 1050px) {
    .NavBar .logo {
        width: 140px;
    }

    .NavBar-Menu {
        gap: 20px;
        font-size: 17px;
    }

    .NavBar-Right {
        gap: 30px;
    }

    .NavBar-Right img {
        width: 22px;
    }

    .NavBar-Right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .NavBar .logo {
        width: 120px;
    }

    .NavBar-Menu {
        gap: 15px;
        font-size: 16px;
    }

    .NavBar-Right {
        gap: 20px;
    }

    .NavBar-Right img {
        width: 20px;
    }

    .NavBar-Right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .NavBar-Menu {
     display: none;
    }
}

