.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.HeaderContents{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: FadeIn 3s;
}

.HeaderContents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    text-transform:capitalize;
}

.HeaderContents p{
    color: white;
    font-size: 1vw;
}

.HeaderContents button{
    border: none;
    color:#747474 ;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .HeaderContents{
        max-width: 45%;
    }
    
}

@media (max-width: 750px) {
    .HeaderContents{
        max-width: 65%;
    }
    
    .HeaderContents p{
        display: none;
    }

    .HeaderContents button{
        padding: 2vw 4vw;
    }
}
